.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  min-height: 100vh;
  background-color: #1E1E1E;
  gap: 1rem;
}

.header {
  font-size: 4rem;
  font-weight: 700;
  color: #CCCCCC;
}

.description {
  font-size: 1rem;
  color: #CCCCCC;
  text-align: center;
  max-width: 600px;
}